.app-section {
  padding: 32px 16px;

  @include media-md-up() {
    padding: 48px 16px;
  }

  &.app-section--dark-blue {
    background-color: $dark-blue;
  }

  &.app-section--light-blue {
    background-color: $light-blue;
  }

  &.app-section--white {
    background-color: $white;
    color: $dark-blue;
  }
}
