h1, h2, h3 {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

h1 {
  margin: -4px 0 -8px;
  font-size: 20px;
  line-height: 32px;

  @include media-sm-up() {
    line-height: 40px;
    font-size: 28px;
  }
}

h2 {
  margin: -4px 0 -8px;
  font-size: 16px;
  line-height: 24px;

  @include media-sm-up() {
    line-height: 32px;
    font-size: 24px;
  }
}

h3 {
  margin: -6px 0 -6px;
  font-size: 14px;
  line-height: 20px;
}

p {
  margin: -4px auto -8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1;
  max-width: 75%;

  @include media-sm-up() {
    line-height: 28px;
    font-size: 20px;
    max-width: 50%;
  }
}

.space-xs,
.space-sm,
.space-md,
.space-lg,
.space-xl {
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: none;
}

.space-xs {
  height: 4px;
}

.space-sm {
  height: 8px;
}

.space-md {
  height: 16px;
}

.space-lg {
  height: 32px;
}

.space-xl {
  height: 64px;
}

.space-plus-xs {
  margin-bottom: 4px;
}

.space-plus-sm {
  margin-bottom: 8px;
}

.space-plus-md {
  margin-bottom: 16px;
}

.space-plus-lg {
  margin-bottom: 32px;
}

.space-plus-xl {
  margin-bottom: 64px;
}

@include media-md-up() {
  $add-space-md-up: 8px;

  .space-xs {
    height: 4px + $add-space-md-up;
  }
  
  .space-sm {
    height: 8px + $add-space-md-up;
  }
  
  .space-md {
    height: 16px + $add-space-md-up;
  }
  
  .space-lg {
    height: 32px + $add-space-md-up;
  }
  
  .space-xl {
    height: 64px + $add-space-md-up;
  }
  
  .space-plus-xs {
    margin-bottom: 4px + $add-space-md-up;
  }
  
  .space-plus-sm {
    margin-bottom: 8px + $add-space-md-up;
  }
  
  .space-plus-md {
    margin-bottom: 16px + $add-space-md-up;
  }
  
  .space-plus-lg {
    margin-bottom: 32px + $add-space-md-up;
  }
  
  .space-plus-xl {
    margin-bottom: 64px + $add-space-md-up;
  }
}

.app-divider {
  margin: 0 auto;
  width: 48px;
  height: 4px;
  background-color: $light-pink;
  pointer-events: none;
}
